# Ignore Vagrant temp folder
.vagrant
# Ignore code editors temp folder
.vscode
.idea
# Exclude everything in projects folder except .gitkeep
projects/*
!projects/.gitkeep 
# Exclude common.yaml file
settings/*
!settings/.gitkeep 